/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*BODY*/
body {
    min-height: 100vh;
    background: linear-gradient(135deg, #0f172a, #020617);
    color: #f8fafc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/*TITLE*/
h1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
}

/*Input*/

#countryInput {
    width: 320px;
    max-width: 90%;
    padding: 14px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
}

#countryInput:focus {
    outline: 2px solid #38bdf8; 
}

/*BUTTON*/

#searchBtn {
    padding: 14px 26px;
    border-radius: 10px;
    border: none;
    background: #38bdf8;
    color: #020617;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

#searchBtn:hover {
    background: #0ea5e9;
}

